{% extends 'base.html' %}

{% block content %}

    <div id="home" class="banner-area section-padding">
        <div class="bg-overlay black"></div>
        <div class="containter">
            <div class="row">
                <div class="col-md-12">
                    <div class="welcome-text">
                        <div class="name-area wow fadeInDown" data-wow-delay="0.2s">Hello, my name is Siegfred</div>
                        <h1 class="wow fadeInDown" data-wow-delay="0.4s">Let me build you a software today </h1>
                        <a href="#about" class="my-btn-1 wow fadeInDown" data-wow-delay="0.6s">Learn more</a>
                        <a href="#contact" class="my-btn-2 wow fadeInDown" data-wow-delay="0.8s">Get in touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    About section#}

    <div id="about" class="about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sn-8 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="about-left">
                        <h2 class="section-title">About Me</h2>
                        <div class="line"></div>
                        <h4>I Am A Software Engineer!
                            <br>
                            I work in the branch of computer science that includes the development and building of computer systems software and applications software
                        </h4>
                        <!-- <h4>{{ about.short_description }}</h4> -->
                        <!-- <p>{{ about.description }}</p> -->
                        <p>
                            Having bagged a degree in Computer Science, and with consistent development and deployment of my skills, I draw on my knowledge of engineering, computer science, and math to write, edit, test, and debug programs
                            I execute various tasks which include: Modifying existing software applications and creating new software applications from scratch
                        </p>
                        <p>
                            I pay attention to detail and I'm excellent with making friends. This makes my work ethic and interpersonal relationship top notch.
                            I enjoy reserching solutions to problems and I love to learn on the job, off the job and via personnal interractions.
                        </p>
                        <p>
                            <b>I communicate in French and posses great interpersonal work relationship, enabling me to work and thrive anywhere. </b>
                        </p>
                        
                    </div>
                </div>
                <div class="col-md-5 visible-md visible-lg wow fadeInDown" data-wow-delay="0.6s">
                    <div class="profile">
                        <img src="../media/works/about.jpg" alt="Profile image" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    Services Section#}
    <div id="services" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2>WORK EXPERIENCE</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                        <!-- <i class="icon icon-wallet"></i>
                        <h2>CODE CLAN</h2>
                        <p>webpage structure</p> -->
                        <br>
                        <a href="https://codeclannigeria.dev/">
                            <img src="../media/works/codeclan.png" alt="">
                            <h2>CODE CLAN</h2>
                            <p>Frontend engineering</p>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                        
                        <a href="https://training.zuri.team/">
                            <img src="../media/works/Zuri.png" alt="">
                            <h2>Zuri</h2>
                            <p>Backend Engineering</p>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                        
                        <a href="https://hng.tech/">
                            <img src="../media/works/HNG.png" alt="">
                            <h2>HNG</h2>
                            <p>Fullstack Software Development</p>
                        </a>
                    </div>
                </div>

                <!-- <div class="col-md-4 col-sm-4">
                    <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                        <i class="icon icon-wallet"></i>
                        <h2>CSS</h2>
                        <p>webpage styling</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                        <i class="icon icon-wallet"></i>
                        <h2>Bootstrap</h2>
                        <p>webpage styling</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                        <i class="icon icon-wallet"></i>
                        <h2>JavaScript</h2>
                        <p>Frontend</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                        <i class="icon icon-wallet"></i>
                        <h2>Python</h2>
                        <p>Backend</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                        <i class="icon icon-wallet"></i>
                        <h2>Django</h2>
                        <p>Backend</p>
                    </div>
                </div> -->

            </div>
        </div>
    </div>

    {#    Recent Works Section#}
    <div id="portfolio" class="portfolio-area section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h2>My Recent Works</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                    <div class="gallery-items">
                        <a class="view img" href="http://belleda-back.herokuapp.com/">
                            <img src="../media/works/belleda.png" alt="work image">
                        </a>

                        <div class="gallery-text">
                            <h2>Fashion App API</h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                    <div class="gallery-items">
                        <a class="view img" href="https://morning-tundra-56147.herokuapp.com/">
                            <img src="../media/works/21.jpg" alt="work image">
                        </a>

                        <div class="gallery-text">
                            <h2>Django Blog App</h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                    <div class="gallery-items">
                        <a class="view img" href="https://github.com/siegfred14/AtmMockUpApp">
                            <img src="../media/works/atm.jpg" alt="work image">
                        </a>

                        <div class="gallery-text">
                            <h2>Atm Mock App</h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {# Skills #}
    <section id="skills" class="skills testimonial-area section-padding">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2>My Skills</h2>
                        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                    </div>
                </div>
    
                <div class="row skills-content">
        
                    <div class="col-lg-6">
        
                    <div class="progress">
                        <span class="skill">HTML <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
        
                    <div class="progress">
                        <span class="skill">CSS <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
        
                    <div class="progress">
                        <span class="skill">JavaScript <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
        
                </div>
    
                <div class="col-lg-6">
    
                    <div class="progress">
                        <span class="skill">Git/CLI <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
        
                    <div class="progress">
                        <span class="skill">Python <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
    
                    <div class="progress">
                        <span class="skill">Django <i class="val">55%</i></span>
                        <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
        
                </div>
    
            </div>
  
        </div>
    </section><!-- End Skills Section -->
  

    {#    Contact section#}

    <div class="invitation-area section-padding">
        <div class="container">
            <div class="row">
                <div class="single-invite text-center">
                    <h2>WOULD YOU FANCY MY EXPERTISE IN BUILDING YOURSELF A SOFTWARE?</h2>
                    <p>Please reach out via these links</p>
                    <div class="contact-links">
                        <a href="https://www.linkedin.com/in/siegfred" target="_blank" class="btn contact-details"><i
                                class="fab fa-linkedin-in"></i> linked in</a>
                        <a id="profile-link" href="https://github.com/siegfred14" target="_blank" class="btn contact-details"><i
                                class="fab fa-github"></i> GitHub</a>
                        <a href="https://facebook.com/siegfreds" target="_blank" class="btn contact-details"><i
                                class="fab fa-facebook-square"></i> Facebook</a>
                        <a href="https://twitter.com/siegfred_1" target="_blank" class="btn contact-details"><i
                                class="fab fa-twitter"></i> Twitter</a>
                        
                    </div>

                    <a href="#contact" class="my-btn-3">... Or drop me a message</a>
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="contact-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2>Contact Me</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 box-contact-form">
                    <form class="" method="post" action="">
                        {% csrf_token %}
                        <div class="form-group">
                        <label for="fname">Your Name</label>
                        <input type="text" name="name" id="fname" class="form-control" placeholder="Please Enter your name" required>

                        <label for="exampleInputEmail1">Your Email</label>
                        <input class="form-control" type="email" name="email" id="exampleInputEmail1" placeholder="Please Enter your Email" required>

                        <!-- <label for="subject">Message</label> -->
                        <textarea name="message" class="form-control" placeholder="Please Enter your message" required></textarea>
                        <br>
                        <input type="submit" class="btn btn-success btn-lg mt-1 ml-4" value="Send Mail">
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
